@font-face {
    font-family: 'champagne__limousinesregular';
    src: url('../fonts/champagne__limousines-webfont.woff2') format('woff2'),
    url('../fonts/champagne__limousines-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geosans';
    src: url('../fonts/geosanslight-webfont.woff') format('woff'),
    url('../fonts/geosanslight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dettachment';
    src: url('../fonts/Dettachment-Yzla2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Homistorya';
    src: url('../fonts/Homistorya.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Santorini';
    src: url('../fonts/SantoriniRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

