body {
  font-family: 'Geosans', sans-serif;
}

#main {
  background-image: url('../layout/eucalyptus2.jpg');
  background-repeat: no-repeat;
  background-position: -54px -165px;
  background-size: 16vw;
  .inside {
    background-image: url('../layout/eucalyptus1.jpg');
    background-repeat: no-repeat;
    background-position: 110% -99px;
    background-size: 22vw;
  }
}

.tedes-gallery {
  width: 90%;
  max-width: 1100px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &.landscape {
    height: 337px;
  }
  .big-image {
    height: 100%;
    &.half {
      width: 49%;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // object-position: top;
      }
    }
  }
  .small-images {
    width: 49%;
    display: flex;
    justify-content: start;
    height: 100%;
    gap: 3.5%;
    flex-wrap: wrap;
    a {
      width: 31%;
      height: 48%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}

#mbCenter {
  background: none;
  box-shadow: none;
  &.mbLoading {
    background: none;
  }
}

#main .inside .mod_article > .ce_text {
  width: 90%;
  max-width: 870px;
  margin: 0 auto;
}

#main .inside .mod_article > .back-button {
  max-width: initial;
  p {
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      color: #eb7979;
    }
  }
}

#footer {
  background-image: url('../layout/eucalyptus3.jpg');
  background-repeat: no-repeat;
  background-position: -15px -7px;
  background-size: 16vw;
  .inside {
    background-image: url('../layout/eucalyptus1.jpg');
    background-repeat: no-repeat;
    background-position: 110% -7px;
    background-size: 22vw;
    .ce_text {
      width: 90%;
      max-width: 870px;
      margin: 0 auto;
      p {
        font-size: 30px;
        line-height: 1.5em;
        color: #eb7979;
        a {
          color: #eb7979;
          text-decoration: none;
          position: relative;
          &:after {
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #eb7979;
            content: '';
            transition: height 250ms;
          }
          &:hover:after {
            height: 5px;
          }
        }
        &:last-child {
          margin: 0 0 80px;
        }
      }
    }
  }
}

h1,h3 {
  font-family: "Santorini", sans-serif;
  margin-top: 120px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  color: #fbc2ab;
  line-height: 2em;
}

h3 {
  margin-top: 0;
  font-size: 24px;
  text-align: right;
  font-family: 'Geosans',sans-serif;
}


.mobile_menu_trigger {
  width: 50px;
  position: absolute;
  top: 4vw;
  right: 4vw;
  z-index: 100;
  cursor: pointer;
}

.mobile_menu {
  .inner {
    background: white;
    color: #ffa89e;
    nav {
      margin: 80px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin: 15px 0;
          a,strong {
            font-size: 60px;
            display: block;
            color: #ffa89e;
            text-decoration: none;
          }
        }
      }
    }
  }
  .menu-close {
    position: absolute;
    top: 4vw;
    right: 4vw;
    font-size: 80px;
    line-height: .2em;
    cursor: pointer;
  }
}

.ce_gallery.main {
  > ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(54, 230px);
    grid-gap: 15px;
    width: 90%;
    max-width: 1500px;
    margin: 80px auto;
    li {
      &:nth-child(1) {
        img {
          object-position: top;
        }
      }
      &:nth-child(3) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
      }
      &:nth-child(5) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      &:nth-child(7) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      &:nth-child(9) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
      }
      &:nth-child(15) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 6;
      }
      &:nth-child(19) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 8;
      }
      &:nth-child(28) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 11;
      }
      &:nth-child(30) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 10;
      }
      &:nth-child(35) {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 10;
        grid-row-end: 12;
      }
      &:nth-child(37) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 11;
        grid-row-end: 14;
      }
      &:nth-child(40) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 12;
        grid-row-end: 14;
      }
      &:nth-child(45) {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 14;
        grid-row-end: 16;
      }
      &:nth-child(47) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 15;
        grid-row-end: 18;
      }
      &:nth-child(51) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 16;
        grid-row-end: 18;
      }
      &:nth-child(58) {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 18;
        grid-row-end: 20;
      }
      &:nth-child(60) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 19;
        grid-row-end: 20;
      }
      &:nth-child(61) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 20;
        grid-row-end: 22;
      }
      &:nth-child(65) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 20;
        grid-row-end: 23;
      }
      &:nth-child(67) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 22;
        grid-row-end: 24;
      }
      &:nth-child(71) {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 23;
        grid-row-end: 25;
      }
      &:nth-child(72) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 24;
        grid-row-end: 27;
      }
      &:nth-child(73) {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 25;
        grid-row-end: 27;
      }
      &:nth-child(76) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 27;
        grid-row-end: 29;
      }
      &:nth-child(79) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 27;
        grid-row-end: 29;
      }
      &:nth-child(80) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 28;
        grid-row-end: 31;
      }
      &:nth-child(86) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 30;
        grid-row-end: 32;
      }
      &:nth-child(88) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 31;
        grid-row-end: 33;
      }
      &:nth-child(90) {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 32;
        grid-row-end: 35;
      }
      &:nth-child(97) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 33;
        grid-row-end: 35;
      }
      &:nth-child(98) {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 35;
        grid-row-end: 37;
      }
      &:nth-child(102) {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 36;
        grid-row-end: 38;
      }
      &:nth-child(105) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 37;
        grid-row-end: 40;
      }
      &:nth-child(109) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 38;
        grid-row-end: 41;
      }
      &:nth-child(112) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 40;
        grid-row-end: 42;
      }
      &:nth-child(120) {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 42;
        grid-row-end: 44;
      }
      &:nth-child(124) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 43;
        grid-row-end: 45;
      }
      &:nth-child(126) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 44;
        grid-row-end: 46;
      }
      &:nth-child(130) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 46;
        grid-row-end: 47;
      }
      &:nth-child(131) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 44;
        grid-row-end: 47;
      }
      &:nth-child(132) {
        position: relative;
        pointer-events: none;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 47;
        grid-row-end: 49;
        &:after {
          content: 'Hochzeits Picknick';
          position: absolute;
          top: 50%;
          left: 50%;
          text-align: center;
          transform: translate(-50%,-50%);
          font-family: 'champagne__limousinesregular', sans-serif;
          color: white;
          font-size: 80px;
          text-transform: uppercase;
        }
      }
      &:nth-child(133) {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 47;
        grid-row-end: 49;
      }
      &:nth-child(144) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 50;
        grid-row-end: 52;
      }
      &:nth-child(146) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 50;
        grid-row-end: 52;
      }
      &:nth-child(153) {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 52;
        grid-row-end: 55;
      }
      &:nth-child(155) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 53;
        grid-row-end: 55;
      }
      &:nth-child(160) {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 55;
        grid-row-end: 57;
      }
      figure {
        width: 100%;
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.ce_gallery.gaby ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 15vw);
  grid-gap: 15px;
  width: 90%;
  max-width: 1500px;
  margin: 80px auto;
  figure {
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.buttons p {
  display: flex;
  width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #ffa89e;
    border: 2px solid;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background 250ms;
    &:hover {
      background-color: rgba(255,168,158,.1);
    }
  }
}

@media screen and (max-width: 650px) {
  #main {
    background-size: 190px;
    .inside {
      background-size: 180px;
      h1 {
        font-size: 40px;
      }
      h3 {
        font-size: 15px;
        text-align: center;
      }
      .ce_gallery.main > ul {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(54, 100px);
        grid-gap: 5px;
        li {
          grid-column-start: initial;
          grid-column-end: initial;
          grid-row-start: initial;
          grid-row-end: initial;
          &:nth-child(132):after {
            font-size: 22px;
          }
        }
      }
      .mod_article > .ce_text p {
        font-size: 20px;
      }
    }
  }
}

